:root {
  --color-Strong-Cyan: hsl(171, 66%, 44%);
  --color-Light-Blue: hsl(233, 100%, 69%);
  --color-Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --color-Grayish-Blue: hsl(201, 11%, 66%);

  /* ### Primary */
  --Strong-Cyan-hue: 171;
  --Strong-Cyan-sat: 66%;
  --Strong-Cyan-light: 44%;

  --Light-Blue-hue: 233;
  --Light-Blue-sat: 100%;
  --Light-Blue-light: 69%;

  /* ### Neutral */

  --Dark-Grayish-Blue-hue: 210;
  --Dark-Grayish-Blue-sat: 10%;
  --Dark-Grayish-Blue-light: 33%;

  --Grayish-Blue-hue: 201;
  --Grayish-Blue-sat: 11%;
  --Grayish-Blue-light: 66%;

  font-size: var(--fontSize);

  --fontSize: 18px;

  --fontSize-x9-small: calc(var(--fontSize) * 0.9);
  --fontSize-x8-small: calc(var(--fontSize) * 0.8);
  --fontSize-x7-small: calc(var(--fontSize) * 0.7);
  --fontSize-x6-small: calc(var(--fontSize) * 0.6);
  --fontSize-x5-small: calc(var(--fontSize) * 0.5);
  --fontSize-x4-small: calc(var(--fontSize) * 0.4);
  --fontSize-x3-small: calc(var(--fontSize) * 0.3);
  --fontSize-x2-small: calc(var(--fontSize) * 0.2);

  --fontSize-x11-large: calc(var(--fontSize) * 1.1);
  --fontSize-x12-large: calc(var(--fontSize) * 1.2);
  --fontSize-x13-large: calc(var(--fontSize) * 1.3);
  --fontSize-x14-large: calc(var(--fontSize) * 1.4);
  --fontSize-x15-large: calc(var(--fontSize) * 1.5);
  --fontSize-x16-large: calc(var(--fontSize) * 1.6);
  --fontSize-x17-large: calc(var(--fontSize) * 1.7);
  --fontSize-x18-large: calc(var(--fontSize) * 1.8);
  --fontSize-x19-large: calc(var(--fontSize) * 1.9);
  --fontSize-x20-large: calc(var(--fontSize) * 2);
  --fontSize-x25-large: calc(var(--fontSize) * 2.5);
  --fontSize-x30-large: calc(var(--fontSize) * 3);
  --fontSize-x35-large: calc(var(--fontSize) * 3.5);
  --fontSize-x40-large: calc(var(--fontSize) * 4);
  --fontSize-x45-large: calc(var(--fontSize) * 4.5);
  --fontSize-x50-large: calc(var(--fontSize) * 5);

  --width: 1442px;
}

* {
  font-family: "Bai Jamjuree", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 0 2px;
  max-width: var(--width);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Pages ////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Page 1 ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page-1 {
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: var(--width);
  justify-content: flex-end;
  text-align: center;
  padding-bottom: 2rem;
}

.page-1-img {
  margin-bottom: 4rem;
  height: 7rem;
  width: 7rem;
}

.page-1-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page-header {
  color: var(--color-Dark-Grayish-Blue);
}

.page-p {
  max-width: 60ch;
  margin: 1rem 0 2rem 0;
  color: var(--color-Grayish-Blue);
}

.btn-container {
  margin: 1rem 0 6rem 0;
}
.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-Strong-Cyan);
  --Strong-Cyan-light: 34%;
  border-bottom: 2px solid
    hsl(
      var(--Strong-Cyan-hue),
      var(--Strong-Cyan-sat),
      var(--Strong-Cyan-light),
      0.5
    );

  box-shadow: 0 10px 20px
    hsl(
      var(--Strong-Cyan-hue),
      var(--Strong-Cyan-sat),
      var(--Strong-Cyan-light),
      0.5
    );
  margin-right: 0.25rem;
}

.btn-primary:hover {
  --Strong-Cyan-light: 49%;
  background-color: hsl(
    var(--Strong-Cyan-hue),
    var(--Strong-Cyan-sat),
    var(--Strong-Cyan-light)
  );
  transition: all 250ms ease-in-out;
}

.btn-secondary {
  background-color: var(--color-Light-Blue);

  --Light-Blue-light: 59%;
  border-bottom: 2px solid
    hsl(
      var(--Light-Blue-hue),
      var(--Light-Blue-sat),
      var(--Light-Blue-light),
      0.5
    );
  box-shadow: 0 10px 20px
    hsl(
      var(--Light-Blue-hue),
      var(--Light-Blue-sat),
      var(--Light-Blue-light),
      0.5
    );
  margin-left: 0.25rem;
  transition: all 250ms ease-in-out;
}

.btn-secondary:hover {
  --Light-Blue-light: 74%;
  background-color: hsl(
    var(--Light-Blue-hue),
    var(--Light-Blue-sat),
    var(--Light-Blue-light)
  );
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Page 2 ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page-2 {
  padding: 2rem 0;
  min-height: auto;
  flex-direction: row;
  justify-content: inherit;
  align-items: inherit;
}

.page-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page-2-text {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-2-p {
  max-width: 33ch;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Page 3 ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page-3 {
  height: auto;
  padding-top: 4%;
  text-align: center;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Page 4 ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page-4 {
  padding-top: 4rem;
  height: auto;
}

.page-4-info {
  display: flex;
  width: 90%;
  text-align: center;
  margin-top: 2rem;
  justify-content: space-between;
}

.page-4-icons {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 4rem 0;
}

.page-4-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-4-p {
  max-width: 34ch;
}

.page-4-img {
  height: 2.5rem;
  width: 2.5rem;
}

.page-4-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.google img,
.ibm img,
.microsoft img,
.hp img,
.vector-graphics img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Page 5 ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page-5 {
  padding-top: 2rem;
}

.page-5-p {
  text-align: center;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Footer ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(
    var(--Grayish-Blue-hue),
    var(--Grayish-Blue-sat),
    var(--Grayish-Blue-light),
    0.25
  );
  padding: 2rem 4rem;
}

.footer-img {
  height: 3rem;
  width: 3rem;
}

.footer-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/* https://grid.layoutit.com/?id=QMxekL3 */

.footer-menu {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 5rem;
  grid-template-areas:
    "faq privacy-policy install-guide"
    "contact-us press-kit.";
  color: var(--color-Dark-Grayish-Blue);
}

.footer-menu li {
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.footer-menu li:hover {
  color: var(--color-Strong-Cyan);
}

.faq {
  grid-area: faq;
}
.contact-us {
  grid-area: contact-us;
}
.privacy-policy {
  grid-area: privacy-policy;
}
.press-kit {
  grid-area: press-kit;
}
.install-guide {
  grid-area: install-guide;
}

.social-media-icons {
  display: flex;
}

.social-media-icons i {
  font-size: var(--fontSize-x15-large);
  color: var(--color-Dark-Grayish-Blue);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.social-media-icons i:hover {
  color: var(--color-Strong-Cyan);
}

.social-media-icons i + i {
  margin-left: 1rem;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
